<div class="ui segments">
    <div class="ui horizontal segments">
      <div class="ui segment">
    <h3 class="ui dividing header"><i class="red info circle icon"></i>Training Information</h3>

    <%= form_for(training) do |f| %>

    <div class="ui form">

    <div class="field">
    <label>Title</label>
    <%= f.text_field :title %>
    <% if @training.errors[:title].any? %>
    <div class="ui basic red pointing prompt label transition visible">
    <%= "Title " << @training.errors[:title].join(", ") %>
    </div>
    <% end %>
    <br>
    </div>

    <div class="field">
    <label>Description</label>
    <%= f.text_field :description %>
    <br>
    </div>
    <div class="field">
    <label>Venue</label>
    <%= f.text_field :venue %>
    <br>
    <div class="field">
    <label>Date</label>
    <%= f.date_field :date, :placeholder => "mm-dd-yyyy" %>
    <br>
    </div>
    </div>
    </div>
    </div> <!-- end info segment -->
    <div class="ui segment" style="width: 30%">
        <h3 class="ui dividing header"><i class="red help circle icon"></i> Choose Associated Skill and Form </h3>
        <div class="field">
        <label><b>Question</b></label><br>
        <%= f.collection_select(:question_id, Question.all, :id, :questionDescription) %><br>
        <% if @training.errors[:question].any? %>
        <div class="ui basic red pointing prompt label transition visible">
        <%= "Question " << @training.errors[:question].join(", ") %>
        </div>
        <% end %>
        </div><br>
        <div class="field">
        <label><b>Form</b></label><br>
        <%= f.collection_select(:form_id, Form.all, :id, :title)  %><br>
        <% if @training.errors[:form].any? %>
        <div class="ui basic red pointing prompt label transition visible">
        <%= "Form " << @training.errors[:form].join(", ") %>
        </div>
        <% end %>
        </div>
    </div>
  </div>
  <div class="ui center aligned segment">
  <div class="eight wide centered column">
  Please review all fields before submitting.
  <br><br>
  <button type="submit" name="submit-button" class="ui red button submit-button" id = "red_button">
    Save
  </button>
  <%= link_to 'Cancel', trainings_path, class:"ui black button"%>
  </div>
  <% end %>
  </div>
  </div>

<!-- <%= form_for(training) do |f| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <!-- <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->
