<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header"><i class="red block layout icon"></i>Trainings</h1>
    </div>
    <% if current_user.is_admin %>
    <div class="right">
      <a href = "/trainings/new" class = "ui right labeled icon red compact button" id = "red_button">
        <i class="write square icon"></i>
        Create New Training
      </a>
    </div>
    <% end %>
  </div>
  <div class="clear"></div>

  <%= render :file=> 'app/views/partials/message.html.erb' %>

  <div class="ui segment">
    <% if current_user.is_admin %>
    <table id="forms" class="ui red selectable celled striped table">
      <thead class = "center aligned">
        <th>Training Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Associated Skill</th>
        <th>Associated Form</th>
      </thead>
      <tbody>
        <% @trainings.each do |training| %>
        <tr>
          <td class = "three wide center aligned">
            <%= link_to training_path(training) do %>
              <h4> <%= training.title %> </h4>
            <% end %>
          </td>
          <td><%= training.description %></td>
          <td class = "center aligned"><%=training.status %></td>


          <% @questions.each do |ques| %>
            <% if (training.question_id == ques.id) %>
              <td class = "two wide"> <%= ques.questionDescription %> </td>
            <% end %>
          <% end %>

          <% @forms.each do |f| %>
            <% if (training.form_id == f.id) %>
              <td class = "two wide"> <%= f.title %> </td>
            <% end %>
          <% end %>

        </tr>
        <% end %>
      </tbody>
      </table>
      <% else %>
      <% if @invited.size == 0 and @going.size == 0 %>
        <h4 class = "ui centered aligned header">Nothing to display.</h4>
      <% else %>
      <table id="recommended" class="ui red selectable celled table">
        <thead class = "center aligned">
          <th>Training</th>
          <th>Description</th>
          <th>Status</th>

        </thead>
        <tbody>
            <% @invited.each do |r| %>
            <tr>
            <td class = "four wide"><%= r.training.title %></td>
            <td class = "eight wide"><%= r.training.description %></td>
            <td>
              <%= button_to "Going", {action: "accept", id: r.id}, method: :POST, class: "ui left floated compact red button", id: "red_button", style:"margin-left:19px" %>
              <%= button_to "Not Going", {action: "deny", id: r.id}, method: :POST, class: "ui floated compact black button", style: "margin-left: 25px" %>
            </td>
            </tr>
            <% end %>

            <% @going.each do |r| %>
            <tr>
            <td class = "four wide"><%= r.training.title %></td>
            <td class = "eight wide"><%= r.training.description %></td>
            <td class = "ui center aligned">
              <button class = "ui compact active green button", style = "background-color:#206b33">Going</button>
            </td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <% end %>
      <% end %>
  </div>
  <br><br>
</div>
