<%= render :file=> 'app/views/partials/sidebar.html.erb' %>
  <div class = "pusher">

      <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header">
        <a href = "/trainings"><i class="red arrow circle left icon"></i></a>
        <%= @training.title %></h1>
    </div>
    <div class="right">
      <%= link_to 'Edit', edit_training_path(@training), :class=>"ui red button", :id=>"red_button" %>
      <%= link_to 'Delete', training_path(@training), :class=>"ui black button",
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
    </div> <br>

    </div>

    <div class="clear"></div>

    <%= render :file=> 'app/views/partials/message.html.erb' %>

    <div class = "ui top attached tabular menu">
      <a class = "active red item" data-tab="first">
        <h4><i class="red info circle icon"></i>Training Information</h4>
      </a>
      <a class = "red item" data-tab="second">
        <h4>Recommended List</h4>
      </a>
    </div>

    <div class = "ui attached active tab segment" data-tab = "first">
      <div class="ui large divided selection list">
        <div class="item">
          <div class="header">Description</div>
          <%= @training.description %>
        </div>
        <div class="item">
          <div class="header">Status</div>
          <%= @training.status %>
        </div>
        <div class="item">
          <div class="header">Venue</div>
          <%= @training.venue %>
        </div>
        <div class="item">
          <div class="header">Deadline</div>
          <%= if @training.date != nil
            @training.date.strftime("%b %d, %Y")
            end %>
        </div>
        <div class="item">
          <div class = "header"> Associated Skill </div>
            <% @questions.each do |ques| %>
                <% if (@training.question_id == ques.id) %>
                  <div class="item"> <%= ques.questionDescription %> </div>
                <% end %>
            <% end %>
        </div>
        <div class = "item">
          <div class = "header">Associated Form</div>
            <% @forms.each do |f| %>
              <% if (@training.form_id == f.id) %>
                <div class="item"> <%= f.title %> </div>
              <% end %>
            <% end %>
        </div>
      </div> <!-- list -->

      <div class = "ui segment">
      <table id = "invited" class = "red ui selectable celled striped table">
        <thead class ="center aligned">
          <th>List of Invited Employees</th>
          <th>Status</th>
        </thead>

        <tbody>
          <% @invites.each do |r| %>
          <tr>
          <td><%= r.user.full_name %></td>
          <td><%= r.recommendation %></td>
          </tr>
          <% end %>
        </tbody>

      </table>

      </div>

    </div>

    <div class="ui attached tab segment" data-tab="second">
      <table id="recommended" class="ui red selectable celled table">
        <thead class = "center aligned">
          <th>Recommended Employee</th>
          <th>Essay Answer</th>
          <th>Invite</th>

        </thead>
        <tbody>
            <% @recom.each do |r| %>
            <tr>
            <td><%= r.user.full_name %></td>
            <td>Insert essay here</td>
            <td class = "three wide">
              <%= button_to "Invite", {action: "invite", id: r.id}, method: :POST, class: "ui left floated compact red button", id: "red_button" %>
              <%= button_to "Reject", {action: "reject", id: r.id}, method: :POST, class: "ui right floated compact black button" %>
            </td>
            </tr>
            <% end %>
        </tbody>
      </table>

    </div>
<br>
</div>
