<div class="ui segments">
    <div class="ui horizontal segments">
      <div class="ui segment">
        <h3 class="ui dividing header"><i class="red info circle icon"></i>Question Information</h3>

    <%= form_for @question do |f| %>

    <div class="ui form">
    <div class="ui two column grid">
    <div class="column">
    <div class="field">
    <label>Question</label>
    <%= f.text_field :questionDescription, placeholder: "Question" %>
    <% if @question.errors[:questionDescription].any? %>
    <div class="ui basic red pointing prompt label transition visible">
    <%= "Question " << @question.errors[:questionDescription].join(", ") %>
    </div>
    <% end %>
    <br>
    </div>

    </div>
    <div class="column">

    <div class="field">
    <label>Skill</label>
    <%= f.text_field :skill, placeholder: "Skill" %>
    <% if @question.errors[:skill].any? %>
    <div class="ui basic red pointing prompt label transition visible">
    <%= "Skill " << @question.errors[:skill].join(", ") %>
    </div>
    <% end %><br>
    </div>

    </div>
    </div>

    </div>
    </div> <!-- end info segment -->
  </div>
  <div class="ui center aligned segment">
  <div class="eight wide centered column">
  Please review all fields before submitting.
  <br><br>
  <button type="submit" name="submit-button" class="ui red button submit-button" id="red_button">
    Save
  </button>
  <%= link_to 'Cancel', questions_path, class:"ui black button"%>
  </div>
  <% end %>
  </div>
  </div>

  <br><br><br><br>
