<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header"><i class="red edit icon"></i>Edit: <%= @question.questionDescription %></h1>
    </div>
  </div>
  <div class="clear"></div>
    <%= render 'question', question: @question %>
  </div>
