<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<% if current_user.is_admin%>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header"><i class="red align justify icon"></i>Questions</h1>
    </div>
    <div class="right">
        <a href = "/questions/new" class = "ui right labeled icon red compact button" id = "red_button">
          <i class="write square icon"></i>
          Add Question
        </a>
    </div>
  </div>
  <div class="clear"></div>

  <%= render :file=> 'app/views/partials/message.html.erb' %>

  <div class="ui segment">
    <table id="questions" class="ui red selectable celled striped table">
    		<thead>
    			<tr class = "center aligned">
              <th class = "three wide">Skill</th>
        			<th>Question</th>
      		</tr>
    		</thead>
    		<tbody>
     			<% @questions.each do |question| %>
  	    		<tr>
                <td> <%= question.skill %> </td>
  	      			<td>
                  <%= link_to question_path(question) do %>
                    <h4><%= question.questionDescription %> </h4>
                  <% end %>

                </td>
  	   			</tr>
  	  		<% end %>
    		</tbody>
  	</table>
  </div>
  <br><br>
</div>
<% end %>
