<%= render :file=> 'app/views/partials/sidebar.html.erb' %>
  <div class = "pusher">
      <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header">
        <a href = "/questions"><i class="red arrow circle left icon"></i></a>
        <%= @question.questionDescription %></h1>
    </div>
    <div class="right">
      <%= link_to 'Edit', edit_question_path(@question), :class=>"ui red button", :id=>"red_button" %>
      <%= link_to 'Delete', question_path(@question), :class=>"ui black button",
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
    </div>
    </div>
    <div class="clear"></div>

    <%= render :file=> 'app/views/partials/message.html.erb' %>

    <div class="ui segments">
      <div class="ui segment">
      <h3 class="ui dividing header"><i class="red info circle icon"></i>Question Information</h3>
      <div class="ui large divided selection list">
        <div class="item">
          <div class="header">Description</div>
          <%= @question.questionDescription %>
        </div>
        <div class="item">
          <div class="header">Skill</div>
          <%= @question.skill %>
        </div>
      </div> <!-- list -->
      </div>

      </div>
    <br><br><br>
</div>