<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class="pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header"><i class="red user icon"></i>
        <div class="content">My Profile</div>
      </h1>
    </div>
    <div class="right" style="margin-top:7px;">
      <% if @user.is_admin == true %>
      <div class = "ui red large label" id = "red_button">Admin Account</div>
      <% end %>
    </div>
  </div>
  <div class="clear"></div> <br>

  <%= render :file=> 'app/views/partials/message.html.erb' %>

  <div class="ui top attached tabular menu">
    <a class="active red item" data-tab="first">Employee Profile</a>
    <a class="red item" data-tab="second">Trainings Attended</a>
  </div>

  <div class="ui attached active tab segment" data-tab="first">
    <%= form_for :user, url: profile_update_path, method: :patch do |f| %>
      <div class="ui grid">
        <div class="eight wide column">
          <div class="ui form">
            <div class="field">
              <label>Full Name</label>
              <%= f.text_field :full_name, placeholder: "Full Name", style: "height:38px"%>
              <% if @user.errors[:full_name].any? %>
                <div class="ui basic red pointing prompt label transition visible">
                  <%= "Full name " << @user.errors[:full_name].join(", ") %>
                </div>
              <% end %>
              <br>
            </div>
            <div class="field">
              <label>Employee Number</label>
              <%= f.text_field :employee_number, placeholder: "Employee Number"%>
              <% if @user.errors[:employee_number].any? %>
                <div class="ui basic red pointing prompt label transition visible">
                  <%= "Employee Number " << @user.errors[:employee_number].join(", ") %>
                </div>
              <% end %>
              <br>
            </div>
            <div class="field">
              <label>Birthday</label>
              <%= f.date_field :birth_date, :placeholder => "mm-dd-yyyy"%>
              <% if @user.errors[:birth_date].any? %>
                <div class="ui basic red pointing prompt label transition visible">
                  <%= "Birthday " << @user.errors[:birth_date].join(", ") %>
                </div>
              <% end %><br>
            </div>
            <div class="field">
              <label>Sex</label>
              <%= f.select :sex, [[' ', ' '], ['Male', 'Male'], ['Female', 'Female']], {}, {class: "ui selection dropdown"} %>
            </div>
            <div class="field">
              <label>Marital Status</label>
              <%= f.select :marital_status, [[' ', ' '], ['Single', 'Single'], ['Married', 'Married'], ['Separated', 'Separated']], {}, {class: "ui selection dropdown"} %>
            </div>
          </div>
        </div> <!-- end first segment -->

        <div class="eight wide column">
          <div class="ui form">
            <div class="field">
              <label>Unit</label>
              <%= f.text_field :unit, :placeholder => "Unit", style: "height:38px" %>
              <% if @user.errors[:unit].any? %>
                <div class="ui basic red pointing prompt label transition visible">
                  <%= "Unit " << @user.errors[:unit].join(", ") %>
                </div>
              <% end %>
            </div>
            <div class="field">
              <label>Designation</label>
              <%= f.text_field :designation, :placeholder => "Designation" %>
              <% if @user.errors[:designation].any? %>
                <div class="ui basic red pointing prompt label transition visible">
                  <%= "Designation " << @user.errors[:designation].join(", ") %>
                </div>
              <% end %>
            </div>
            <div class="field">
              <label>Key Function</label>
              <%= f.text_field :key_function, :placeholder => "Key Function"%>
              <% if @user.errors[:key_function].any? %>
                <div class="ui basic red pointing prompt label transition visible">
                  <%= "Key Function " << @user.errors[:key_function].join(", ") %>
                </div>
              <% end %>
            </div>
            <div class="field">
              <label>Classification</label>
              <%= f.select :classification, [[' ', ' '], ['Faculty', 'Faculty'], ['Reps', 'Reps'], ['Admin', 'Admin']], {}, {class: "ui selection dropdown"} %>
            </div>

            <div class="field">
              <label>Length of Service</label>
              <div class="ui grid">
                <div class="two wide column" style="margin-top:10px; margin-left:50px">Year</div>
                <div class="four wide column" style="margin-left:-20px">
                  <%= f.text_field :year, :placeholder => "Years" %>
                  <% if @user.errors[:year].any? %>
                    <div class="ui basic red pointing prompt label transition visible">
                      <%= "Year " << @user.errors[:year].join(", ") %>
                    </div>
                  <% end %>
                </div>
                <div class="two wide column" style="margin-top:10px; margin-left:5px">Month</div>
                <div class="four wide column" style="margin-left:-10px">
                  <%= f.text_field :month, :placeholder => "Months" %>
                  <% if @user.errors[:month].any? %>
                    <div class="ui basic red pointing prompt label transition visible">
                      <%= "Month " << @user.errors[:month].join(", ") %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end second segment -->
      </div>
      <center>
        <br>
        <button type="submit" id = "red_button" name="submit-button" class="ui red button submit-button">Submit</button>
        <a href="/profile"><div class="ui black button" data-tab="first">Cancel</div></a>
      </center>
    <% end %>
  </div>

  <div class="ui attached tab segment" data-tab="second">
    <table id="forms" class="ui basic selectable celled table">
      <thead>
        <th>Training Title</th>
        <th>Description</th>
        <th>Focused Skill</th>
        <th>Date Attended</th>
        <th>Location</th>
      </thead>
      <tbody>
        <tr>
          <td>Writing Training</td>
          <td>Lorem impsum this is a training.</td>
          <td>Written</td>
          <td>January 2, 2010</td>
          <td>College of Arts and Letters</td>
        </tr>
        <tr>
          <td>Public Speaking Training</td>
          <td>This is also a training lorem impsum.</td>
          <td>Communication</td>
          <td>December 6, 2014</td>
          <td>Palma Hall</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
<br><br><br><br>
