<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
    <h1 class="ui header"><i class="red user icon"></i>
    <div class="content">
    My Profile
    </div>
    </h1>
    </div>
    <% if current_user.is_admin %>
      <div class="right" style="margin-top:7px;">
        <div class = "ui red large label" id = "red_button">Admin Account</div>
      </div>
    <% end %>
  </div>
  <div class="clear"></div> <br>

<%= render :file=> 'app/views/partials/message.html.erb' %>

<div class="ui top attached tabular menu">
    <a class="active red item" data-tab="first">Employee Profile</a>
    <a class="red item" data-tab="second">Trainings Attended</a>
</div>

<div class="ui attached active tab segment" data-tab="first">
  <div class="ui grid">
  <div class="eight wide column">
  <table class="ui very basic table">
    <tbody>
      <tr>
        <td><b>Full Name</b></td>
        <td><%= current_user.full_name %></td>
      </tr>
      <tr>
        <td><b>Employee Number</b></td>
        <td><%= current_user.employee_number %></td>
      </tr>
      <tr>
        <td><b>Birthday</b></td>
        <% if current_user.birth_date != nil %>
            <td><%= current_user.birth_date.strftime("%b %d, %Y") %></td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
      <tr>
        <td><b>Sex</b></td>
        <td><%= current_user.sex %></td>
      </tr>
      <tr>
        <td><b>Marital Status</b></td>
        <td><%= current_user.marital_status %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="eight wide column">
   <table class="ui very basic table">
    <tbody>
      <tr>
        <td><b>Unit</b></td>
        <td><%= current_user.unit %></td>
      </tr>
      <tr>
        <td><b>Designation</b></td>
        <td><%= current_user.designation %></td>
      </tr>
      <tr>
        <td><b>Key Function</b></td>
        <td><%= current_user.key_function %></td>
      </tr>
      <tr>
        <td><b>Classification</b></td>
        <td><%= current_user.classification %></td>
      </tr>
      <tr>
        <td><b>Length of Service</b></td>
        <td>
          <% if current_user.year != nil and current_user.year.to_i != 0 %>
            <%= current_user.year%>
            <% if current_user.year.to_i > 1%>years<% else %>year<% end %>
            <% if current_user.month.to_i > 1%> and<% end %>
          <% end %>
          <% if current_user.month != nil and current_user.month.to_i != 0 %>
            <%= current_user.month%>
            <% if current_user.month.to_i > 1 %>months<% else %>month<% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<center>
<br>
<a href="/profile/edit"><div class="ui black button" data-tab="first"><i class="edit icon"></i>Edit Profile</div></a>
</center>
</div>

<div class="ui attached tab segment" data-tab="second">
<table id="forms" class="ui red selectable celled table">
<thead class = "center aligned">
  <th>Training Title</th>
  <th>Description</th>
  <th>Date Attended</th>
  <th>Location</th>
</thead>
<tbody>
  <%@trainingsAttended.each do |t| %>
  <tr>
    <td><%=t.training.title %></td>
    <td><%=t.training.description %></td>
    <td><%= if t.training.date != nil
            t.training.date.strftime("%b %d, %Y")
            end %>
    </td>
    <td><%=t.training.venue %></td>
  </tr>
  <%end %>
</tbody>
</table>
</div>

<br><br><br><br>

</div>
</div>
