<!--<h1> USER FORMS VIEW </h1>-->
<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header"><i class="red block layout icon"></i>Forms to Answer</h1>
    </div>
  </div>

  <div class="clear"></div>

  <%= render :file=> 'app/views/partials/message.html.erb' %>

  <div class="ui basic segment">
    <center>
      <div class = "ui cards">
        <% if @form_view.size == 0 %>
          <br>
          <div class = "ui segment" style = "width:100%">
            <h4 class = "ui centered aligned header">Nothing to display.</h4>
          </div>
        <% else %>
          <% @form_view.each do |form| %>
            <div class = "ui card">
              <div class = "content">
                <div class="header">
                  <h2><%= form.title %></h2>
                </div>
                <div class="meta">
                  <%= form.deadline.strftime("%b %d, %Y") %>
                </div>
                <div class="description">
                  <%= form.description %>
                </div>
              </div>
              <% if @answered.include? form.id %>
                <%= link_to 'Submitted Form', forms_question_path(id: form.id), :class => "ui disabled button", :id=>form.title %>
              <% else %>
                <%= link_to 'Answer Form', forms_question_path(id: form.id), :class => "ui bottom red button", :id=>form.title %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </center>
  </div>
</div>
