<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">

  <div class="ui basic segment">
    <% @forms.each do |form| %>
        <% if @fid == form.id %>
            <div class="left">
            <h1 class="ui header"><i class="red align justify icon"></i><%= form.title %></h1>
            </div>
            <br>
            <div class="ui indicating progress" id="page" style="margin-top:-10px; margin-right:100px">
              <div class="bar" style="width: <%=@curr_id*100/@skill.length%>%">
                <div class="progress"> <%=@curr_id*100/@skill.length%>% </div>
              </div>
            </div>
            &emsp;
        <% end %>
    <% end %>
    </div>

    <div id="clear"></div>

    <div class="ui segment">
    <br>
    <center><h2 style="text-transform: uppercase; letter-spacing: 3px;" class="ui red header"><i class="red settings icon"></i> <%= @ques.first.skill %></h2></center><br>
    <!-- <div class="ui divider"></div> -->
    <% @ques.each do |q| %><br>
    <center><h3><%= q.questionDescription %></h3></center>
      <% @useranswer = @answers.where(forms_question_id: @rows.where(question_id: q.id), user_id: current_user.id).first %>
      <div class="ui form" id = "radio_container_<%= q.id %>"  style="margin-left:50px">
        <div class="inline fields">
          <label><i class="ui inline info circle icon link" data-title="Competency Level: Expert" data-content="With mastery and efficiency, ability to transfer knowledge to other staff" data-position="top left"></i>Competent</label>
          <div class="field">
              <input type="radio" name = "competence<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="comp_level4_<%= q.id %>" value ="4" class="lar" <%= 'checked' if @useranswer.present?  && @useranswer.comp_level == '4' %> ></input>
              <label for ='comp_level4_<%= q.id %>'></label>
          </div>
          <div class="field">
              <input type="radio" name = "competence<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="comp_level3_<%= q.id %>" value ="3" class="med" <%= 'checked' if @useranswer.present?  && @useranswer.comp_level == '3' %>></input>
              <label for ='comp_level3_<%= q.id %>'></label>
          </div>
          <div class="field">
              <input type="radio" name = "competence<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="comp_level2_<%= q.id %>" value="2" class="small" <%= 'checked' if @useranswer.present?  && @useranswer.comp_level == '2'%>></input>
              <label for ='comp_level2_<%= q.id %>'></label>
          </div>
          <div class="field">
              <input type="radio" name = "competence<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="comp_level1_<%= q.id %>" value="1" class="tiny" <%= 'checked' if @useranswer.present?  && @useranswer.comp_level == '1' %> ></input>
              <label for='comp_level1_<%= q.id %>'></label>
          </div>
          <label>Not Competent <i class="ui inline info circle icon link" data-title="Competency Level: Zero" data-content="No knowledge, skills, workplace values" data-position="top center"></i></label>
        <label> <h1> | </h1> </label>
        <label><i class="ui inline info circle icon link" data-title="Importance Level" data-content="Not Important and Not Urgent" data-position="top center"></i> Not Important </label>
        <div class="field">
          <input type="radio" name="importance<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="imp_level1_<%= q.id %>" value="1" class="tiny" <%= 'checked' if @useranswer.present?  && @useranswer.imp_level == '1' %> ></input>
          <label for='imp_level1_<%= q.id %>'></label>
        </div>
        <div class="field">
          <input type="radio" name="importance<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="imp_level2_<%= q.id %>" value="2" class="small" <%= 'checked' if @useranswer.present?  && @useranswer.imp_level == '2' %> ></input>
          <label for='imp_level2_<%= q.id %>'></label>
        </div>
        <div class="field">
          <input type="radio" name="importance<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="imp_level3_<%= q.id %>" value ="3" class="med" <%= 'checked' if @useranswer.present?  && @useranswer.imp_level == '3' %> ></input>
          <label for='imp_level3_<%= q.id %>'></label>
        </div>
        <div class="field">
          <input type="radio" name="importance<%= q.id %>" question_id = "<%= q.id %>" fq_id ="<%= @rows.where(question_id: q.id).first.id%>" id="imp_level4_<%= q.id %>" value ="4" class="lar" <%= 'checked' if @useranswer.present?  && @useranswer.imp_level == '4' %> ></input>
          <label for='imp_level4_<%= q.id %>'></label>
        </div>
        <label>Very Important <i class="ui inline info circle icon link" data-title="Importance Level" data-content="Important and Urgent" data-position="top center"></i></label>
    </div>
  </div>
  <div class="ui divider"></div>
<% end %>

  <!-- <div class = "ui container" style="width:25%; float:right; margin-top: 20px;"> -->
  <center>
  <% if @curr_id == 0 %>
    <% if @curr_id == @skill.length-1 %>
    <%= link_to 'Submit', forms_questions_submit_path(fid: @fid), :class => "ui bottom red button", data: {confirm: 'Are you sure you want to submit?'} %>
    <% else %>
      <a href="?page=<%=@curr_id+=1%>/"><button class = "ui red button" id="next"> Next </button></a>
    <% end %>
  <% elsif @curr_id == @skill.length-1 %>
    <a href="?page=<%=@curr_id-=1%>/" data-confirm="Are you sure you want to go back?"><button class = "ui black button" id="back")> Back </button></a>
    <%= link_to 'Submit', forms_questions_submit_path(fid: @fid), :class => "ui bottom red button", data: {confirm: 'Are you sure you want to submit?'} %>
  <% else %>
    <% @temp = @curr_id %>
    <a href="?page=<%=@curr_id-=1%>/" data-confirm="Are you sure you want to go back?"><button class = "ui  black button" id="back")> Back </button></a>
    <a href="?page=<%=@temp+=1%>/"><button class = "ui red button" id="next"> Next </button></a>
  <% end %>
  </center>
  <!-- </div> -->
  </div>
</div>
</div>
<br><br><br>
</div>
