<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header"><i class="red bar chart icon"></i>Recommended Trainings</h1>
    </div>
  </div>

  <div class="clear"></div>
  <div class="ui basic segment">
      <div class = "ui cards">
      	<div class = "card">
      		<div class = "content">
	      		<div class = "header">
	      			Training Title
	      		</div>
	      		<div class = "description">
	      			This is a sample training. In this training we will polish your communication skills. It will be on January 21, 2018, 8:00 am to churvalloooo. I hope you can attend.
	      		</div>
	      	</div>
	      	<div class = "extra content">
	      		<div class = "ui two buttons">
	      			<div class = "ui basic green button">Attend</div>
	      			<div class = "ui basic red button">Reject</div>
	      		</div>
	      	</div>
      	</div>
    </div>
</div>

</div>
