<div class="ui fixed red inverted menu" id = "header_menu">
    <div class="ui left item">
      <%= image_tag "tnalogo.png", :style => "margin-right: 10px"%> <span>UP HRDO - Training Needs Assessment</span>
    </div>
    <div class="ui right simple dropdown item">
      <i class = "circular inverted user icon"></i>
      <%= current_user.full_name %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/profile">User Profile</a>
        <a class="item" href="/signout">Logout</a>
      </div>
    </div>
</div>

<div class="ui compact visible left vertical inverted sidebar menu" style="top:53px; width: 200px !important;" id = "side_menu">
  <% if current_user.is_admin%>
    <a href = "/profile" class="item" id="mp">
      <span><i class="large user icon"></i> My Profile</span>
    </a>
    <a href = "/users/index" class = "item" id="el">
      <span><i class = "large users icon"></i> Employee List</span>
    </a>
    <a href = "/forms" class = "item" id="f">
      <span><i class = "large block layout icon"></i> Survey Forms</span>
    </a>
    <a href = "/trainings" class="item" id="t">
      <span><i class="large bar chart icon"></i> Trainings</span>
    </a>
    <a href = "/questions" class = "item" id="qd">
      <span><i class = "large align justify icon"></i> Question Database</span>
    </a>
    <a href = "/answers" class = "item" id="ea">
      <span><i class = "large check circle icon"></i> Employee Answers</span>
    </a>
    <div class="copyright-1">
      UP HRDO<br>
      Copyright 2016 - 2017
    </div>

  <% else %>
    <a href = "/profile" class="item" id="mp">
      <span><i class="large user icon"></i> My Profile</span>
    </a>
    <a href = "/forms_questions" class = "item" id="sf">
      <span><i class = "large block layout icon"></i> Survey Forms</span>
    </a>
    <a href = "/trainings" class="item" id="t">
      <span><i class="large bar chart icon"></i> Trainings</span>
    </a>
    <div class="copyright-2">
      UP HRDO<br>
      Copyright 2016 - 2017
    </div>
  <% end %>
  
  </div>
  <br><br><br><br>
