<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
    <div class="ui basic segment">
    <h1 class="ui header"><i class="red users icon"></i>Employee List</h1>
  </div>

    <div class="ui segment">
    <table id="employees" class="ui red selectable celled striped table">
        <thead class = "center aligned">
            
                <th class = "three wide">Employee Number</th>
                <th>Full Name</th>
                <th>Unit</th>
                <th>Designation</th>
           
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td> <%= user.employee_number %> </td>
                    <td>
                        <%= link_to usersshow_path(user) do %>
                            <h4><%= user.full_name %>  </h4>
                        <%end%> 
                    </td>
                    <td> <%= user.unit %> </td>
                    <td> <%= user.designation %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    </div>
    <br><br>
</div>
