<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header">
        <a href = "/users/index">
          <i class="red arrow circle left icon"></i>
        </a>
        <div class="content">
        <%= @user.full_name %>
        <div class="sub header">
          <%= @user.email %>
        </div></div>
      </h1>
    </div>
  </div>
  <div class="clear"></div>

<br>
<div class="ui top attached tabular menu">
    <a class="active red item" data-tab="first">Employee Profile</a>
    <a class="red item" data-tab="second">Trainings Attended</a>
</div>


<div class="ui bottom attached active tab segment" data-tab="first">
  <div class="ui grid">
  <div class="eight wide column">
  <table class="ui very basic table">
    <tbody>
      <tr>
        <td><b>Full Name</b></td>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <td><b>Employee Number</b></td>
        <td><%= @user.employee_number %></td>
      </tr>
      <tr>
        <td><b>Birthday</b></td>
        <td><%= if @user.birth_date != nil
                  @user.birth_date.strftime("%b %d, %Y")
                end %>
        </td>
      </tr>
      <tr>
        <td><b>Sex</b></td>
        <td><%= @user.sex %></td>
      </tr>
      <tr>
      <tr>
        <td><b>Marital Status</b></td>
        <td><%= @user.marital_status %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="eight wide column">
   <table class="ui very basic table">
    <tbody>
      <tr>
        <td><b>Unit</b></td>
        <td><%= @user.unit %></td>
      </tr>
      <tr>
        <td><b>Designation</b></td>
        <td><%= @user.designation %></td>
      </tr>
      <tr>
        <td><b>Key Function</b></td>
        <td><%= @user.key_function %></td>
      </tr>
      <tr>
        <td><b>Classification</b></td>
        <td><%= @user.classification %></td>
      </tr>
      <tr>
        <td><b>Length of Service</b></td>
        <td>
          <% if @user.year != nil and @user.year.to_i != 0 %>
            <%= @user.year%>
            <% if @user.year.to_i > 1%>years<% else %>year<% end %>
            <% if @user.month.to_i > 1%> and<% end %>
          <% end %>
          <% if @user.month != nil and @user.month.to_i != 0 %>
            <%= @user.month%>
            <% if @user.month.to_i > 1 %>months<% else %>month<% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<center>
<br>
<% if @user.is_admin == false %>
<form action="set_admin" method="post">
    <button class="ui red button" id = "red_button" data-tab="first" name="user_id" value= "<%=@user.id%>" >Set as admin</button>
</form>
<% else %>
<form action="unset_admin" method="post">
    <button class="ui black button" data-tab="first" name="user_id" value= "<%=@user.id%>" >Remove as Admin</button>
</form>
<% end %>

</center>
</div>

<div class="ui bottom attached tab segment" data-tab="second">
<table id="forms" class="ui red selectable celled table">
<thead class= "center aligned">
  <th>Training Title</th>
  <th>Description</th>
  <th>Date Attended</th>
  <th>Location</th>
</thead>
<tbody>
  <%@trainingsAttended.each do |t| %>
  <tr>
    <td><%=t.training.title %></td>
    <td><%=t.training.description %></td>
    <td><%= if t.training.date != nil
            t.training.date.strftime("%b %d, %Y")
            end %>
    </td>
    <td><%=t.training.venue %></td>
  </tr>
  <%end %>
</tbody>
</table>
</div>

</div>
