<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
	<div class = "ui basic segment">
		<div class = "left">
			<h1 class = "ui header"><i class = "red bar chart icon"></i> Recommend Trainings </h1>
	</div>
	<div class = "right">
		<a href = "/recommended_list/new" class = "ui left attached right labeled icon red compact button">
			<i class = "write square icon"></i>Add Training
		</a>
	</div>
	<div class = "clear"></div>
	<div class = "ui segment">
		<table id="trainings" class = "ui selectable celled striped fixed table">
			<thead>
				<tr>
					<th>Training Title</th>
					<th>Date</th>
					<th>Associated Skill</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Eating Training</td>
					<td>Bukas</td>
					<td>Eating Skill</td>
					<td> 
						<a class = "ui left basic compact green button">Edit</a>
						<a class = "ui right basic compact red button">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	
</div>

</div>