<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
	<div class = "ui basic segment">
		<div class = "left">
			<h1 class = "ui header"><i class = "red add circle icon"></i>New Training</h1>
		</div>
		<div class = "right">
			<a href = "/recommended_list/index" class = "ui left labeled icon red compact button">
			<i class = "bar chart icon"></i>
			Back to Recommend Trainings
			</a>
		</div>
	</div>
</div>

</div>