<%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css?family=Raleway|Montserrat|Hind',
 media: 'all', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script>
<link rel="stylesheet" href="/bower_components/semantic-ui-calendar/dist/calendar.min.css" />

<div id = "wrapper">
	<div class = "content" id = "up">
		<div class="header">
		    <p id="header_text">
		    <div class = "float_to_left">
		        <%=image_tag "tnalogo.png" %>
		    </div>
		    <div class = "hrdo"><br>
				<b>HUMAN RESOURCES<br>
				DEVELOPMENT OFFICE</b>
		    </div>
		    <div class = "UP">
		    	University of the Philippines
		    </div>
			</p>
		</div>
		<br><br>
		<div class="ui centered grid">

		    <div class="row" id = "tna"><b>TRAININGS NEED ASSESSMENT</b></div>
				<div class="row">
					<a href = "/auth/google_oauth2" id = "red_button" class = "ui labeled red icon button">
						<i class = "google plus icon"></i>
						Sign in with Google
					</a>
				</div>

		</div>
	<div class = "footer">
	    <div class="ui padded grid">
	        <div class="eight wide column">
				<span id = "red_text">
				<%=image_tag "personlogo.png", class: "ui spaced image"%>
              	LOCATION &nbsp;
              	</span>
				<span id="gray_text"> Quezon Hall, UP Diliman</span>
	        </div>
	        <div class="eight wide column">
				<span id = "red_text">
				<%=image_tag "contactlogo.png", class: "ui spaced image" %>
              	CONTACT US &nbsp;
              	</span>
              	<span id = "gray_text">
                	LOC. 2577
              	</span>
	        </div>
	    </div>
	</div>
</div>
