<h1>Home page</h1>
<% if !current_user %>
<!Put this link in the middl  e, and turn it to a button. Semanticui has tools for this >
<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %> <!User must not be allowed to get to welcome page if signed in>
<% end %>
<p>Find me in app/views/home/show.html.erb</p>
