<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
    <div class="ui basic segment">
        <div class="left">
            <h1 class="ui header"><i class="red check circle icon"></i>Answers Summary</h1>
        </div>
    </div>
    <div class="clear"></div>
    <div class="ui header accordion">
        <% @forms.each do |f| %>
            <% if f.question_ids.size > 0 %>
                <div id="form" class="ui center aligned segment title">
                    <%= f.title %>
                </div>
                <div id="question" class="ui header content">
                    <div class="accordion">
                        <% f.question_ids.each_with_index do |q, index| %>
                            <% @questions.each do |ques| %>
                                <% if (q == ques.id) %>
                                    <div id="q_title" class="ui header title">
                                        <i class="dropdown icon"></i>
                                        <%= ques.questionDescription %>
                                        <!-- <div class="ui divider"></div> -->
                                    </div>
                                    <div id="table" class="ui header content">
                                        <% @rows = @forms_questions.where(form_id: f.id, question_id: q) %>
                                        <% @answer = @answers.where(forms_question_id: @rows) %>
                                        <% @criteria = @answer.where(comp_level: 1, imp_level: 4) %>
                                        <% if @answer.size == 0 %>
                                            <div style="text-align: center">No users to display.</div>
                                        <% else %>
                                          <span>  <%= @criteria.size %> out of <%=@answer.size %> (<%= number_to_percentage(@criteria.size.to_f / @answer.size.to_f * 100.0, precision: 0) %>) employees answered with Competence: 1 and Importance: 4 </span>
                                            <table class="ui celled table">
                                                <thead>
                                                    <tr>
                                                        <th class="ten wide">User</th>
                                                        <th>Competence Level</th>
                                                        <th>Importance Level</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% @answer.limit(10).each do |a| %>
                                                        <tr>
                                                            <% @user = @users.find(a.user_id) %>
                                                            <td><%= @user.full_name %></td>
                                                            <td><%= a.comp_level %></td>
                                                            <td><%= a.imp_level %></td>
                                                        </tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                            <% if @answer.size > 0 %>
                                                <%= link_to 'See all', answer_path(f.id, :ques=>q), :class => "right aligned small header", :style => "margin-right: 10px"%>
                                                <div class="clear"></div>
                                            <% end %>
                                        <% end %>
                                    </div>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
