<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
    <div class="ui basic segment">
        <div class="left">
            <h1 class="ui header"><i class="red check circle icon"></i>Answers Summary</h1>
        </div>
    </div>
    <div class="clear"></div>
        <div class="ui segment">
            <h1 class="ui right floated header" style="text-align:right">
                <%= @form.title %>
                <div class="sub header"><%= @question.questionDescription %></div>
            </h1>
            <div class="ui clearing divider"></div>
            <table id="forms" class="ui selectable celled striped table">
                <thead>
                    <tr>
                        <th class="ten wide">User</th>
                        <th>Competence Level</th>
                        <th>Importance Level</th>
                    </tr>
                </thead>
                <tbody>
                    <% @answer.each do |a| %>
                        <tr>
                            <% @user = @users.find(a.user_id) %>
                            <td><%= @user.full_name %></td>
                            <td><%= a.comp_level %></td>
                            <td><%= a.imp_level %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <br><br><br>
</div>
