<div class="ui segments">
    <div class="ui horizontal segments">
      <div class="ui segment">
    <h3 class="ui dividing header"><i class="red info circle icon"></i>Form Information</h3>

    <%= form_for @form do |f| %>

    <div class="ui form">
    <div class="field">
    <label>Form Title</label>
    <%= f.text_field :title, placeholder: "Form Title" %>
    <% if @form.errors[:title].any? %>
    <div class="ui basic red pointing prompt label transition visible">
    <%= "Title " << @form.errors[:title].join(", ") %>
    </div>
    <% end %>
    <br>
    </div>
    <div class="field">
    <label>Description</label>
    <%= f.text_field :description, placeholder: "Form Description" %><br>
    </div>
    <div class="ui calendar" id="date"><div class="field">
    <label>Deadline</label>
    <%= f.date_field :deadline, placeholder: "yyyy-mm-dd" %>
    <% if @form.errors[:deadline].any? %>
    <div class="ui basic red pointing prompt label transition visible">
    <%= "Deadline " << @form.errors[:deadline].join(", ") %>
    </div>
    <% end %>
    <br>
    </div></div>
    </div>
    </div> <!-- end info segment -->

    <div class="ui segment" style="width: 30%">
    <h3 class="ui dividing header"><i class="red  help circle icon"></i>Questions to Include</h3>
    <input type="checkbox" id="selectAll" class="ui checkbox"/> Check / Uncheck All Questions

    <% Question.all.group_by(&:skill).each do |skill, questions| %>
      <h4> <%= skill %></h4>
      <% questions.each do |question| %><p>
        <%= check_box_tag "form[question_ids][]", question.id, f.object.questions.include?(question), class: "ui checkbox check" %>
        <%= question.questionDescription %></p>
      <% end %>
      <div class="ui divider"></div>
    <% end %>
      </div> <!-- end questions segment -->
  </div>
  <div class="ui center aligned segment">
  <div class="eight wide centered column">
  Please review all fields before submitting.
  <br><br>
  <button type="submit" name="submit-button" class="ui red button submit-button" id = "red_button">
    Save
  </button>
  <%= link_to 'Cancel', forms_path, class:"ui black button"%>
  </div>
  <% end %>
  </div>
  </div>
  <br><br><br><br>
