<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header"><i class="red block layout icon"></i>Forms</h1>
    </div>
    <div class="right">
      <a href = "/forms/new" class = "ui right labeled icon red compact button" id = "red_button">
        <i class="write square icon"></i>
        Create New Form
      </a>
    </div>
  </div>
  <div class="clear"></div>

  <%= render :file=> 'app/views/partials/message.html.erb' %>

  <div class="ui segment">
    <table id="forms" class="ui red selectable celled striped table">
      <thead class = "center aligned">
        <th>Form Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Date Added</th>
        <th>Deadline</th>
      </thead>
      <tbody>
        <% @forms.each do |form| %>
        <tr>
          <td class = "center aligned">
            <%= link_to form_path(form), id: form.title do %>
              <h4><%= form.title %></h4>
            <% end %>
          </td>
          <td><%= form.description %></td>
          <td><%=form.status %></td>
          <td><%= form.created_at.strftime("%b %d, %Y") %></td>
          <td><%=form.deadline.strftime("%b %d, %Y") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br><br>
</div>
