<%= render :file=> 'app/views/partials/sidebar.html.erb' %>

<div class = "pusher">
  <div class="ui basic segment">
    <div class="left">
      <h1 class="ui header">
        <a href = "/forms"><i class="red arrow circle left icon"></i></a>
        <%= @form.title %></h1>
    </div>
    <div class="right">
      <%= link_to 'Edit', edit_form_path(@form), :class=>"ui red button", :id=>"edit"%>
      <%= link_to 'Delete', form_path(@form), :id=>"delete", :class=>"ui black button",
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
    </div>
    </div>
    <div class="clear"></div>

    <%= render :file=> 'app/views/partials/message.html.erb' %>

    <div class="ui segments">
      <div class="ui horizontal segments">
      <div class="ui segment">
      <h3 class="ui dividing header"><i class="red info circle icon"></i>Form Information</h3>
      <div class="ui large divided selection list">
        <div class="item">
          <div class="header">Description</div>
          <%= @form.description %>
        </div>
        <div class="item">
          <div class="header">Status</div>
          <%= @form.status %>
        </div>
        <div class="item">
          <div class="header">Deadline</div>
          <%= @form.deadline.strftime("%b %d, %Y") %>
        </div>
      </div> <!-- list -->
      </div>

      <div class="ui segment" style="width: 40%;">
      <h3 class="ui dividing header"><i class="red help circle icon"></i>Questions Included</h3>
      <% @form.questions.group_by(&:skill).each do |skill, questions| %>
        <h4><%= skill %></h4>
        <div class="ui large list">
        <% questions.each do |question| %>
          <div class="item"><i class="red selected radio icon"></i><div class="content"><%= question.questionDescription %></div>
          </div>
        <% end %>
        </div>
      <% end %>
      </div>

      </div>
      </div>
    <br><br><br>
</div>
