// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form {
    background-color: #ebebeb;
    font-size: 15px;
}

#question {
    width: 98%;
    margin-left: 10px;
}

#q_title {
    color: #dd3838;
    font-size: 15px;
}

#table {
    font-size: 12px;
}
