/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require datatables
 */

 @import "semantic-ui";
  @font-face {
    font-family: 'Josefin Sans', sans-serif;
  }


body, .ui.sidebar, .ui.tabular.menu, .ui.button {
	font-family: 'Hind', sans-serif;
}

.pusher {
	width: 75%;
}

.ui.header, .ui.fixed.inverted.menu, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
}

.left {float:left;}
.right{float:right;}
.clear{clear:both;}

.bottom.attached.tab.segment{
  min-height: 200px;
}

#red {
	color: #FFFFFF !important;
}

#red_button{
  background-color:  #B71C1C;
}

#red_text{
	color:	#C62828;
}

a {
	color: #C62828;
}
a:hover {
	color: #C62828;
}

.copyright-1 {
	margin-top: 220px;
	color: #444;
	padding: 10px;
	font-size: 12px;
	text-align: center;
}

.copyright-2 {
	margin-top: 365px;
	color: #444;
	padding: 10px;
	font-size: 12px;
	text-align: center;
}

#red {
	color: #FFFFFF !important;
}

#red_button{
  background-color:  #B71C1C;
}

#red_text{
	color:	#C62828;
}

a {
	color: #C62828;
}
a:hover {
	color: #C62828;
}
