// Place all the styles related to the FormsQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.progress {
    float: right;
    width: 30%;
}

// label {
//   display: block;
//   cursor: pointer;
//   line-height: 2.5;
//   font-size: 1.5em;
// }

label {
  text-transform: uppercase !important;
  color: #7a7a7a !important;
}

[type="radio"][class="tiny"] + label:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 50%;
  border: 0.25em solid #fff;
  box-shadow: 0 0 0 0.15em #bc3a3a;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

[type="radio"][class="small"] + label:before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: -0.25em;
  border-radius: 50%;
  border: 0.25em solid #fff;
  box-shadow: 0 0 0 0.15em #bc3a3a;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

[type="radio"][class="med"] + label:before {
  content: '';
  display: inline-block;
  width: 3em;
  height: 3em;
  vertical-align: -0.25em;
  border-radius: 50%;
  border: 0.25em solid #fff;
  box-shadow: 0 0 0 0.15em #bc3a3a;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

[type="radio"][class="lar"] + label:before {
  content: '';
  display: inline-block;
  width: 4em;
  height: 4em;
  vertical-align: -0.25em;
  border-radius: 50%;
  border: 0.25em solid #fff;
  box-shadow: 0 0 0 0.15em #bc3a3a;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"]:checked + label:before {
  background: #bc3a3a;
  box-shadow: 0 0 0 0.25em #bc3a3a;
 }
// input {
//     visibility:hidden;
// }

// label {
//     cursor: pointer;
// }

.content {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  text-transform: none !important;
}