// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'Montserrat', sans-serif;
}

// CLASSES //
#up {
    margin-top: 50px !important;
    margin-left: 100px !important;
    margin-right: 100px !important;
}
.ui.centered.grid {
    margin-top: 50px;
}
.footer {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  height: 92px;
  width: 100%;
  background-color: #DEDDDD;
  font-family: 'Hind', sans-serif;
}
.hrdo {
  position: relative;
  font-family: 'Hind', sans-serif;
  font-size: 17px;
  color: #eee;
}
.UP {
  position: relative;
  font-family: 'Montserrat', sans-serif;
	font-size: 16px;
  color: #eee;
}

// ID //
#wrapper {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
}

#red_text {
  position: relative;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
	color: #A1242C;
}
#gray_text {
	font-size: 15px;
	color: #323232;
  font-family: 'Hind', sans-serif;
}
#tna {
  font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color: #DEDDDD;
  white-space: -3px;
}
.float_to_left {
	float: left;
  margin-right: 5px;
}

