// Place all the styles related to the Partials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header_menu {
	background-color: #B71C1C;
	color: #DEDDDD;
}

#side_menu {	
	color: #DEDDDD;
}

#item_text {
	color: #DEDDDD;
}