// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @font-face {
//   font-family: 'Josefin Sans', sans-serif;
// }

.header-layout {
    background-size: cover;
    background-color: #800000;
}


.header-text {
    margin-left: 6em;
}

.main-header {
    margin-left: 2em;
    margin-top: 0em;
}

.profile-rect {
    background-color: #D7C8C4;
    color: #AB3333;
    max-width: 60em;
}

.profile-info {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#red_button {
  background-color:  #C62828;
}