// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question-table {
	max-width: 80em;
}

#divider {
	max-width: 80em;
}
