  <!DOCTYPE html>
<html>
  <head>
    <title>UP HRDO - Training Needs Assessment</title>
    <%= favicon_link_tag 'tnalogo.ico' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway|Montserrat|Hind', media: 'all', 'data-turbolinks-track' => true %>
    <!-- <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui/dist/semantic.min.css">
    <script src="node_modules/semantic-ui/dist/semantic.min.js"></script> -->

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <% if current_user %>
        <!--Signed in as <strong><%= current_user.name %></strong>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>-->
      <% else %>
      <% end %>
    </div>

    <!-- Side bar here -->

    <div id = "yield" >
        <%= yield %>
    </div>

  </body>
</html>
