<!--<div class = "layout-header">
    <div class = "UP-logo">
        <img src="/images/tnalogo.png" style = "float: left"/>

    </div>
        <div class = "main-header-text">
            <div class = "hrdo">
                <br>
                Human Resources <br>
                Development Office <br>
            </div>
            <div class = "UP">
                University of the Philippines
            </div>
        </div>
</div>-->
<!--<div class="header-layout">
    <div class = "main-header">
        <br>
        <p class="header-text">
            <div class = "float_to_left">
                <%=image_tag "tnalogo.png" %>
            </div>
            <div class = "hrdo"><br>
                Human Resources<br>
                Development Office
            </div>
            <div class = "UP">
                University of the Philippines<br><br><br>
            </div>
        </p>
    </div>
</div>-->
